.tabla {
    width: 95%;
    margin: 5px;
    overflow-y: scroll;
  }
  
  .tabla td,
  .tabla th {
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  .tabla th {
    background-color: rgb(49, 84, 240);
    color: rgb(252, 248, 248);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  
  .tabla tr:nth-child(even) {
    background-color: #dbdada;
  }
  
  .tabla tr:hover {
    background-color: #ddd;
  }