.tabla {
    width: 95%;
    margin: 20px;
    overflow-y: scroll;
  }
  
  .tabla td,
  .tabla th {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .tabla th {
    background-color: #69bff8;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .tabla tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tabla tr:hover {
    background-color: #ddd;
  }